body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}
.flex-container {
    display: flex;
    background-color: rgb(252, 196, 146);
    height: 1000px;
  }
  
  .flex-container>div {
    background-color: #f1f1f1;
    margin: 20px;
    padding:10px;
    font-size: 18px;
  text-align: center;
    width: 30%;
  }

  .flex-container  ul {
    text-align: left;
    padding-left: 100px;
   padding-top :12px;
  }

  .flex-container  h2 {
    padding: 20px 0;
  }

  #radioButton{ 
      width: 100%;
      margin: auto 0;
      text-align: center;
  }

  #addToList{ 
    font-size: 18px;
    
}

#radioButton>input{ 
    
    padding: 2px 4px;
    
}

#btn-addToList{
    font-size: 18px;
    padding: 2px 4px;
    margin-left:5px;
    cursor: pointer;

}
#btn-addToList:hover {
    background-color: rgb(252, 196, 146);
    color: white;
    
}